GITHUB_APP_ID=
GITHUB_APP_CLIENT_ID=
GITHUB_APP_CLIENT_SECRET=
GITHUB_APP_PRIVATE_KEY_B64=
GITHUB_APP_PRIVATE_KEY_B64_1=
GITHUB_APP_PRIVATE_KEY_B64_2=
GITHUB_APP_INSTALLATION_ID=
PUBLIC_BASE_URL=https://images.6143443.xyz
GITHUB_OWNER=cyz-domo
GITHUB_REPO=image-bed
ALLOWED_GITHUB_LOGIN=cyz-domo
SESSION_SECRET=
MAX_FILE_SIZE=10485760
HISTORY_CACHE_TTL=300
